<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/KshitizGIT/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="KshitizGIT" />
            <add key="ClearTextPassword" value="3cb6546a5316579e4ec8bf82f8a2d11c10a888eb" />
        </github>
    </packageSourceCredentials>
</configuration>
