<section class="ftco-section" id="services-section">
  {% if Model.ContentItems | size > 0 %}
  <div class="container-fluid px-md-5">
    <div class="row justify-content-center py-5 mt-5">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <h1 class="big big-2">Services</h1>
        <h2 class="mb-4">Services</h2>
        <p> {{Site.Properties.Portfolio.Portfolio.ServiceDescription.Text }}</p>
      </div>
    </div>
    <div class="row">
      {% for service in Model.ContentItems %}
      <div class="col-md-4 text-center d-flex ftco-animate">
        <a href="#" class="services-1 shadow">
          <span class="icon">
            <i class="{{service.Content.Service.Icon.Text }}"></i>
          </span>
          <div class="desc">
            <h3 class="mb-5">{{ service.Content.TitlePart.Title}}</h3>
            <p> {{ service.Content.Service.Description.Text}}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</section>
